<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.zhao.dao.AdminDao">

	<select id="findByName"
		parameterType="string"
		resultType="org.zhao.entity.Admin">
		SELECT * FROM admin_info WHERE name=#{name}	
	</select>

	<delete id="deleteAdmin"
		parameterType="INTEGER">
		DELETE FROM admin_info WHERE admin_id=#{id}	
	</delete>

	<insert id="addAdminRole"
		parameterType="hashmap">
		INSERT INTO admin_role VALUES(
			#{admin_id,jdbcType=INTEGER},
			#{role_id,jdbcType=INTEGER}
		)	
	</insert>
	
	<delete id="deleteAdminRole"
		parameterType="int">
		DELETE FROM admin_role WHERE admin_id=#{id,jdbcType=INTEGER}
	</delete>

	<update id="updateAdmin"
		parameterType="org.zhao.entity.Admin">
		UPDATE admin_info
		SET 
			name=#{name,jdbcType=VARCHAR},
			telephone=#{telephone,jdbcType=VARCHAR},
			email=#{email,jdbcType=VARCHAR}
		WHERE 	
			admin_id=#{admin_id,jdbcType=INTEGER}
	</update>

	<insert id="saveAdminOfRole"
		parameterType="hashmap">
		INSERT INTO admin_role VALUES(
			#{admin_id,jdbcType=INTEGER},
			#{role_id,jdbcType=INTEGER}
		)	
	</insert>

	<insert id="save"
		parameterType="org.zhao.entity.Admin">
		<selectKey
			keyProperty="admin_id"
			resultType="int"
			order="BEFORE">
		SELECT admin_seq.nextval FROM dual
		</selectKey>
		INSERT INTO admin_info VALUES(
			#{admin_id},
			#{admin_code,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{token,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{telephone,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{enrolldate,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updateAdminPwd"
		parameterType="hashmap">
		UPDATE admin_info
		SET password=#{defaultPwd,jdbcType=VARCHAR}
		WHERE admin_id IN
			<foreach collection="ids"
				item="admin_id"
				open="("
				separator=","
				close=")">
					#{admin_id,jdbcType=INTEGER}
			</foreach>
	</update>
	
	<select id="findById"
		parameterType="int"
		resultType="org.zhao.entity.Admin">
		SELECT * FROM admin_info WHERE admin_id=#{id}	
	</select>

	<update id="updateAdminOfToken"
		parameterType="hashmap">
		UPDATE admin_info
		SET token=#{token,jdbcType=VARCHAR}
		WHERE admin_id=#{admin_id,jdbcType=INTEGER}	
	</update>

	<select id="findModulesByAdmin"
		parameterType="int"
		resultType="org.zhao.entity.Module">
		SELECT * FROM module_info WHERE module_id IN(
		SELECT mi.module_id FROM module_info mi
		LEFT JOIN role_module rm ON rm.module_id=mi.module_id
		LEFT JOIN role_info ri ON ri.role_id=rm.role_id
		LEFT JOIN admin_role ar ON ar.role_id=ri.role_id
		LEFT JOIN admin_info ai On ai.admin_id=ar.admin_id
		WHERE ai.admin_id=#{admin_id}
		)	
	</select>

	<select id="findByAdminCode"
		parameterType="string"
		resultType="org.zhao.entity.Admin">
		SELECT * FROM admin_info WHERE admin_code=#{admin_code}	
	</select>

	<select id="findAllModules"
		resultType="org.zhao.entity.Module">
		SELECT * FROM module_info ORDER BY module_id	
	</select>

	<resultMap type="org.zhao.entity.Admin" id="adminMap">
		<id column="admin_id" property="admin_id"/>
		<collection property="roles"
			select="findRoleByAdminId"
			javaType="arraylist"
			ofType="org.zhao.entity.Role"
			column="admin_id">
		</collection>
	</resultMap>
	
	<select id="findRoleByAdminId"
		parameterType="int"
		resultType="org.zhao.entity.Role">
		SELECT * FROM role_info WHERE role_id IN (
			SELECT role_id FROM admin_role WHERE admin_id=#{admin_id}
		)
	</select>
	
	<select id="findAdminByPage"
		parameterType="org.zhao.entity.page.AdminPage"
		resultMap="adminMap">
		SELECT * FROM (
			SELECT t.*,ROWNUM r FROM (
				SELECT * FROM admin_info WHERE admin_id IN(
					SELECT ai.admin_id FROM admin_info ai
					LEFT JOIN admin_role ar ON ar.admin_id=ai.admin_id
					LEFT JOIN role_info ri ON ri.role_id=ar.role_id
					LEFT JOIN role_module rm ON rm.role_id=ri.role_id
					LEFT JOIN module_info mi ON mi.module_id=rm.module_id
					<where>
						<if test="moduleId!=null &amp;&amp; moduleId!=-1">
							AND mi.module_id=#{moduleId}
						</if>
						<if test="roleName!=null &amp;&amp; !roleName.equals('')">
							AND ri.name LIKE '%'||#{roleName}||'%'
						</if>
					</where>
					)ORDER BY enrolldate DESC
				)t
			)WHERE r BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="findRows"
		parameterType="org.zhao.entity.page.AdminPage"
		resultType="int">
		SELECT COUNT(*) FROM admin_info WHERE admin_id IN(
			SELECT ai.admin_id FROM admin_info ai
			LEFT JOIN admin_role ar ON ar.admin_id=ai.admin_id
			LEFT JOIN role_info ri ON ri.role_id=ar.role_id
			LEFT JOIN role_module rm ON rm.role_id=ri.role_id
			LEFT JOIN module_info mi ON mi.module_id=rm.module_id
			<where>
				<if test="moduleId!=null &amp;&amp; moduleId!=-1">
					AND mi.module_id=#{moduleId}
				</if>
				<if test="roleName!=null &amp;&amp; !roleName.equals('')">
					AND ri.name LIKE '%'||#{roleName}||'%'
				</if>
			</where>
			)ORDER BY admin_id
	</select>

</mapper>