<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.zhao.dao.RoleDao">

	<select id="findAdminByRole"
		parameterType="INTEGER"
		resultType="org.zhao.entity.Admin">
		SELECT * FROM admin_info ai
		LEFT JOIN admin_role ar ON ar.admin_id=ai.admin_id
		LEFT JOIN role_info ri ON ri.role_id=ar.role_id
		WHERE ri.role_id=#{id}
	</select>

	<delete id="deleteRole"
		parameterType="INTEGER">
		DELETE FROM role_info WHERE role_id=#{id}	
	</delete>

	<update id="updateRole"
		parameterType="org.zhao.entity.Role">
		UPDATE role_info
		SET name=#{name,jdbcType=VARCHAR}
		WHERE role_id=#{role_id,jdbcType=INTEGER}	
	</update>

	<delete id="deleteRoleModule"
		parameterType="INTEGER">
		DELETE FROM role_module WHERE role_id=#{id}
	</delete>

	<select id="findModuleByRole"
		parameterType="INTEGER"
		resultType="org.zhao.entity.Module">
		SELECT * FROM module_info mi
		LEFT JOIN role_module rm ON rm.module_id=mi.module_id
		LEFT JOIN role_info ri ON ri.role_id=rm.role_id
		WHERE ri.role_id=#{id}	
	</select>

	<select id="findById"
		parameterType="int"
		resultType="org.zhao.entity.Role">
		SELECT * FROM role_info WHERE role_id=#{id}
	</select>
	
	<select id="findAll"
		resultType="org.zhao.entity.Role">
		SELECT * FROM role_info	ORDER BY role_id DESC
	</select>

	<insert id="saveRoleModule"
		parameterType="hashmap">
		INSERT INTO role_module VALUES(
			#{role_id,jdbcType=INTEGER},
			#{module_id,jdbcType=INTEGER}
		)	
	</insert>
	
	<insert id="saveRole"
		parameterType="org.zhao.entity.Role">
		<selectKey keyProperty="role_id"
			order="BEFORE"
			resultType="INTEGER">
			SELECT role_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO role_info VALUES(
			#{role_id,jdbcType=INTEGER},	
			#{name,jdbcType=VARCHAR}
		)	
	</insert>

	<select id="findByRoleName"
		parameterType="string"
		resultType="org.zhao.entity.Role">
		SELECT * FROM role_info WHERE name=#{name}	
	</select>
	
	<select id="findRows"
		resultType="int">
		SELECT COUNT(*) FROM role_info	
	</select>
	
	<resultMap type="org.zhao.entity.Role" id="roleMap">
		<id property="role_id" column="role_id"/>
		<collection property="modules"
			column="role_id"
			javaType="arraylist"
			ofType="org.zhao.entity.Module"
			select="findModuleByRoleId">
			</collection>
	</resultMap>

	<select id="findModuleByRoleId"
		parameterType="int"
		resultType="org.zhao.entity.Module">
		SELECT * FROM module_info WHERE module_id IN(
			SELECT module_id FROM role_module WHERE role_id=#{role_id}
		)
	</select>

	<select id="findByPage"
		parameterType="org.zhao.entity.page.RolePage"
		resultMap="roleMap">
		SELECT * FROM (
			SELECT t.*,ROWNUM r FROM (
				SELECT * FROM role_info
				ORDER BY role_id DESC
				)t
			)WHERE r BETWEEN #{begin} AND #{end}
	</select>

</mapper>